{
    "extends": ["react-app", "prettier", "prettier/react"],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
        "react/require-default-props": [0]
    }
}
