body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e8e8e8;
}

ul {
  list-style: none;
  width: 80%;
  margin: 0px auto;
}

ul li {
  background-color: #fff;
  border-bottom: 1px solid #cecece;
  padding: 30px 20px;
  display: block;
  text-align:left;
}
